USE [master]
GO
/****** Object:  Database [MarketDb]    Script Date: 31.05.2022 17:38:42 ******/
CREATE DATABASE [MarketDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MarketDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MarketDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketDb]
GO
/****** Object:  Table [dbo].[IceElectric2021]    Script Date: 31.05.2022 17:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IceElectric2021](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price hub] [varchar](50) NOT NULL,
	[Trade date] [datetime] NOT NULL,
	[Delivery start date] [datetime] NOT NULL,
	[Delivery end date] [datetime] NOT NULL,
	[High price $/MWh] [float] NOT NULL,
	[Low price $/MWh] [float] NOT NULL,
	[Wtd avg price $/MWh] [float] NOT NULL,
	[Change] [float] NOT NULL,
	[Daily volume MWh] [int] NOT NULL,
 CONSTRAINT [PK_IceElectric2021] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IceElectric2021_Modified]    Script Date: 31.05.2022 17:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IceElectric2021_Modified](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PriceHubId] [int] NOT NULL,
	[Trade date] [datetime] NOT NULL,
	[Delivery start date] [datetime] NOT NULL,
	[Delivery end date] [datetime] NOT NULL,
	[High price $/MWh] [float] NOT NULL,
	[Low price $/MWh] [float] NOT NULL,
	[Wtd avg price $/MWh] [float] NOT NULL,
	[Change] [float] NOT NULL,
	[Daily volume MWh] [int] NOT NULL,
 CONSTRAINT [PK_IceElectric2021_Modified] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceHubs]    Script Date: 31.05.2022 17:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHubs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PriceHubs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IceElectric2021_Modified]  WITH CHECK ADD  CONSTRAINT [FK_IceElectric2021_PriceHubs] FOREIGN KEY([PriceHubId])
REFERENCES [dbo].[PriceHubs] ([Id])
GO
ALTER TABLE [dbo].[IceElectric2021_Modified] CHECK CONSTRAINT [FK_IceElectric2021_PriceHubs]
GO
USE [master]
GO
