@inherits LayoutComponentBase

<PageTitle>Intelometry</PageTitle>

<div class="page">
    <main>
        <article class="content px-4 mx-auto">
            @Body
        </article>
    </main>
</div>
